{
	"printWidth": 90,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"htmlWhitespaceSensitivity": "css",
	"arrowParens": "always",
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"tabWidth": 1,
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"bracketSpacing": true,
	"proseWrap":"always",
	"jsxBracketSameLine": true 
}